// Primary Colors

$primary-clr-1: hsl(26, 100%, 55%);
$primary-clr-2: hsl(24, 100%, 87%);
$primary-clr-3: hsl(24, 100%, 69%);

// Neutral

$neutral-clr-1: hsl(220, 13%, 13%);
$neutral-clr-2: hsl(219, 9%, 45%);
$neutral-clr-3: hsl(220, 14%, 75%);
$neutral-clr-4: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$opacity: 0.5;